<h1>Hello World!</h1>
<h3>{{message}}</h3>
<h2>{{name}}</h2>
<h4>{{'Mi nombre es: ' + getNombre()}}</h4>

<router-outlet></router-outlet>
<courses></courses>
<cursos></cursos>
<figure>
    <img style="border:2px solid" [style.borderColor] = "isActive ? 'orange' : 'gray'" [src]="imageURL" alt="">
</figure>
<div>
    <button
        class="btn"
        [disabled] = "statusButton"
        [class.btn-success] = "isActive"
        (click)="save($event)"
        (mouseover)="hover()"
    >Test</button>
</div>

<div class="mt-3">
    <input type="text" (keyup) = "onKeyUp($event)">
</div>